body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.blog {
  background-color: #aaa;
  border-radius: 2px;
  max-width: 800px;
}
.blog h1 {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.blog a {
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}
